<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href=@Url.Content("~/Content/fontawesome/font-awesome.css") rel="stylesheet" />

    <style>
        .modal-header {
            background: linear-gradient(to bottom, #1abde7 0%,#1c9dd1 100%);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: #fff;
        }

    .modal-title {
        margin: 0;
        line-height: 1.42857143;
        color:#fff;
    }

   /*main tables*/
   table.table-bordered tr th{background: -webkit-linear-gradient(top, #5fae53, #3b7c33) !important; color:white !important; text-align:center !important;}
    
  /*.modal-backdrop{z-index: -1;}*/
  .datepicker{z-index:1151 !important;}
  .panel-default>.panel-heading {
        color: #fff;
        background: #95A5A6; /*linear-gradient(to bottom, #F2825B 0%,#E55B2B 50%,#F07146 100%);*/
        border-color: #dddddd;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight:bold;    
    }
  a:hover, a:visited, a:link, a:active
    {
        text-decoration: none;
    }
    </style>

    <script type="text/javascript">
        var rootDir = "@Url.Content("~/")";
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand navbar-link">Sagrada Familia College</a>
                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="active"><a href="~/Dashboard"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                    <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Maintenance <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li><a href="~/Period"><i class="fa fa-calendar fa-lg"></i> Periods</a></li>
                            <li><a href="#">Grades</a></li>
                            <li><a href="#">Students</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Administrative <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li><a href=@Url.Content("~/Student")><i class="fa fa-users fa-lg"></i> Students</a></li>                          
                        </ul>
                    </li>
                    

                        @*<li role="presentation"><a href="#">Maintenances</a></li>
            <li role="presentation"><a href="#">Administrative</a></li>*@
                    </ul>
            </div>
        </div>
    </nav>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@

    
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
