@model school.Model.Model.StudentModel
   
<button class="btn btn-default btn-custom btn-space pull-right" data-dismiss="modal"><i class="icon-remove"></i> Close</button> 
<button class="btn btn-success btn-custom btn-space pull-right" onclick="saveStudent();">Save Student</button>

<br/>
<br />

    <div class="row">
        <div class="col-md-12">            
            <form id="form-demographic" class="form" role="form">
                <input type="hidden" id="hvStudentId" />
                <h3><strong>Main Information</strong></h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>First Name</label>
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Middle Name</label>
                            @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Last Name</label>
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Gender</label>
                            @Html.DropDownListFor(model => model.GenderModel.GenderId, (IEnumerable<SelectListItem>)ViewBag.Gender, "", new { @id = "Gender", Name = "Gender", @class = "form-control" })                            
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Student Photo</label>
                            <input type="file" class="form-control" />
                        </div>
                    </div>
                </div>

                <h3><strong>Phone Information</strong></h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Phone 1</label>
                            @Html.TextBoxFor(model => model.Phone1, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Phone 2</label>
                            @Html.TextBoxFor(model => model.Phone2, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Phone 3</label>
                            @Html.TextBoxFor(model => model.Phone3, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <h3><strong>Address Information</strong></h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Address 1</label>
                            @Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Address 2</label>
                            @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>City</label>
                            @Html.DropDownListFor(model => model.CityModel.CityId, (IEnumerable<SelectListItem>)ViewBag.Cities, "", new { @id = "City", Name = "City", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>State</label>
                            @Html.TextBoxFor(model => model.StateCode, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Zip Code</label>
                            @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </form>
            <form id="form-grade">
                <h3><strong>Grade and Group</strong></h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Period</label>
                            @Html.DropDownList("Period", (IEnumerable<SelectListItem>)ViewBag.Period, "", new { @class = "form-control", style = "margin-bottom: 20px", @onchange = "loadGrade(this.value);" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Grade</label>
                            @Html.DropDownList("Grade", (IEnumerable<SelectListItem>)ViewBag.Grade, "", new { @class = "form-control", style = "margin-bottom: 20px", @onchange = "loadGroup(this.value);" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Groups</label>
                            <select id="GradeGroups" name="GradeGroups" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </form>

            <form id="form-transaction">
                <h3><strong>Pay Configuration</strong></h3>
                <div id="transaction-scroll" class="col-md-12">
                    <table id="_transactionType" class="table table-condensed" style="margin-bottom: 0;">
                        <thead>
                            <tr>
                                <th class="col-md-2"></th>
                                <th class="col-md-4">Transaction</th>
                                <th class="col-md-4">Pay</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in ViewBag.TransactionType)
                            {
                                <tr>
                                    <td>

                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input class="styled" id=chk_@x.TransactionTypeId data-search=@x.TransactionTypeId type="checkbox" checked=@x.MarkOfDefault disabled=@x.MarkOfDefault>
                                            <label for=chk_@x.TransactionTypeId>Required</label>
                                        </div>
                                    </td>
                                    <td>
                                        @x.TransactionTypeDescription
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input class="form-control " id="txt_@x.TransactionTypeId" type="text" />
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>






