@model school.Model.Model.StudentModel

<div class="row">
    <form id="tab">
        <div class="col-md-5">
            <div class="form-group">
                <label>First Name</label>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control disabled" })
            </div>
            <div class="form-group">
                <label>Last Name</label>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" value="jsmith" class="form-control">
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label>Address 1</label>
               @Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Address 2</label>
                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>City</label>
                @Html.TextBoxFor(model => model.CityModel.CityDescription, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>State</label>
               @Html.TextBoxFor(model => model.StateCode, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Zip Code</label>
                @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
            </div>
        </div>
    </form>


</div>


