<div class="row">
                <div class="col-md-12">
                    <br />
                    <div class="form-group"> 
                        <div class="form-group">
                            @Html.Label("Student Code", new { @class = "form-label" })
                            @Html.TextBox("txtStudentCode", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label("First Name", new { @class = "form-label" })
                            @Html.TextBox("txtFirstName", null, new { @class = "form-control" })
                            </div>
                        <div class="form-group">
                            @Html.Label("Last Name", new { @class = "form-label" })
                            @Html.TextBox("txtLastName", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Genders", new { id = "gender-lbl", @class = "form-label" })
                            @Html.DropDownList("Gender", (IEnumerable<SelectListItem>)ViewBag.Gender, "", new { @class = "form-control", style = "margin-bottom: 20px" })
                        </div>
                        <div class="form-group">
                            @Html.Label("City", new { id = "city-lbl", @class = "form-label" })
                            @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.City, "", new { @class = "form-control", style = "margin-bottom: 20px" })
                        </div>
                        </div>
                </div>
            </div>
        
       
    
