<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">Students Search</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h4><strong>School Detail</strong></h4>
                    <br />
                    <div class="form-group">                            
                            <div class="form-group">
                                @Html.Label("Periods", new { id = "period-lbl", @class = "form-label" })
                                @Html.DropDownList("Period", (IEnumerable<SelectListItem>)ViewBag.Period, "" , new { @class = "form-control", style = "margin-bottom: 20px" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Grades", new { id = "grade-lbl", @class = "form-label" })
                                @Html.DropDownList("Grade", (IEnumerable<SelectListItem>)ViewBag.Grade, "", new { @class = "form-control", style = "margin-bottom: 20px" })
                            </div>                            
                        </div>
                </div>
                <div class="col-md-6">
                    <h4><strong>Student Detail</strong></h4>
                    <br />
                    <div class="form-group"> 
                        <div class="form-group">
                            @Html.Label("Student Code", new { @class = "form-label" })
                            @Html.TextBox("txtStudentCode", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label("First Name", new { @class = "form-label" })
                            @Html.TextBox("txtFirstName", null, new { @class = "form-control" })
                            </div>
                        <div class="form-group">
                            @Html.Label("Last Name", new { @class = "form-label" })
                            @Html.TextBox("txtLastName", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Genders", new { id = "gender-lbl", @class = "form-label" })
                            @Html.DropDownList("Gender", (IEnumerable<SelectListItem>)ViewBag.Gender, "", new { @class = "form-control", style = "margin-bottom: 20px" })
                        </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnSearch" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
            <button class="btn btn-sm btn-warning" data-dismiss="modal"><i class="icon-remove"></i> Close</button>
        </div>
    </div>
</div>
